#body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px auto;
}

#map {
    height: 100%;
    width: 80%;
    float: left;
    margin-left: 2%;
    margin-right: 1%;
}

#labels {
    height: 100%;
    width: 14%;
    float: right;
    margin-left: 1%;
    margin-right: 2%;
}

#upload {
    position: absolute;
    bottom: 0;
    width: 14%;
    height: 20px;
    background: green;
    margin-bottom: 20px;
}

#logger {
    margin: 0px auto;
    width: 100%;
    font-size: 12px;
    word-wrap: break-word;
}

#shps {
    color: blue;
    display: block;
    padding: 2px 0px;
}

#loaded {
    color: green;
    display: block;
    padding: 2px 0px;
}

#clip {
    color: red;
    display: block;
    padding: 2px 0px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-markertooltip {
    background-position: -272px -2px;
}
.leaflet-retina .leaflet-draw-toolbar a {
    background-image: url('images/spritesheet-2x.png');
    background-size: 300px 30px !important;
}
